body {
    margin: 0;
    font-family: 'Yessica', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #F7F6F1;

    min-width: 980px
}

form {
    width: 40%;
    padding: 5% 0;
    margin: 2% 0;

    text-align: center;

    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

form input {
    margin: 2.5% 0;
    width: 90%;

    border: none;
    border-bottom: 0.6px solid rgba(0, 0, 0, 0.2);

    font-size: 1em;
}

form input::placeholder {
    opacity: 0.5;
}

form input:focus {
    outline: none;
}

button {
    cursor: pointer;
    font-weight: 500;

    margin: 2%;
    padding: 1.7% 4%;

    color: #677767;
    background-color: transparent;

    border-radius: 2px;
    border: 2px solid #677767;

    transition: .5s;
}

button:hover,
button:active,
button:focus {
    box-shadow: none;
    outline: none;

    color: #fff;
    background-color: #677767;
}

button:disabled,
button[disabled]{
    opacity: 0.3;
    border: 1px solid #999999;
    background-color: #677767;
    color: #ffffff;
}

