.dashboard-container {
    width: 100%;
    height: 100%;

    color: #fff;

    background: rgb(244,107,69);
    background: linear-gradient(90deg, rgba(244,107,69,1) 0%, rgba(238,168,73,1) 100%);

    padding: 2% 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
