.dashboard-container {
    width: 100%;
    height: 100%;

    color: #fff;

    background: rgb(244,107,69);
    background: linear-gradient(90deg, #41106A 0%, #6A1D5C 100%);

    padding: 2% 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
