.album-container {
    width: 100%;
}

.album-container h2 {
    font-size: 1.9em;
}

.album-container .images-list,
.album-container .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-container .images-list {
    width: 80%;
    height: 100%;

    margin: 0 auto;

    flex-wrap: wrap;
}

.album-container .user-info {
    margin: 2% 0;
}

.album-container .images-list .image {
    width: 300px;
    margin: 1%;

    cursor: pointer;

    border: 1px solid #333;
}

.album-container .load-more-text {
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: underline;
}


