.images-list {
    width: 80%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.images-list .link {
    width: 270px;
    margin: 1%;
}

.images-list .image {
    width: 100%;
    cursor: pointer;
}
