.App {
    height: 100%;
    width: 100%;

    display: block;

    color: #fff;

    background: linear-gradient(-45deg, #41106A, #6A1D5C, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: gradient 100s ease infinite;
}

.component-wrapper {
    height: 90vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
