body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 50px 0;
    width: 100%;
    height: 100%;
    background-color: #161616;
    color: #fff;
    min-width: 650px;
}

h2 {
    font-size: 2em;
}

h3, h2 {
    text-align: center;
    color: #03FD15;
}

form {
    width: 100%;
}

form .inputs, button, .answer {
    width: 96%;
}

form .inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 10px;

    color: #ffffff;
    background-color: #161616;

    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
}

button {
    padding: 2%;
    margin-bottom: 25px;

    border: 2px solid #03FD15;
    border-radius: 5px;

    font-weight: 600;
    font-size: 1em;

    color: #03FD15;
    background-color: #161616;

    outline: none;
    transition: .5s;
}

button:hover {
    background-color: #03FD15;
    color: #161616;
}

.heading {
    width: 70%;
    margin: 0 auto;
}

.form-wrapper {
    margin: 20px auto;
    width: 60%;
    padding: 4% 7%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

.property {
    text-decoration: underline;
}

.centered {
    text-align: center;
}
