/* color: #03FD15;
   background-color: #161616;
*/


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 50px 10px;
    width: calc(100% - 20px);
    height: 100%;
    background-color: #161616;
    color: #ffffff;
    min-width: 650px;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.file {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #03FD15;
    padding: 5px 25px;
    margin: 7px;
    position: relative;
}

.file p:hover {
   color: #03FD15;
}

.popover, .crete-file-popover {
    z-index: 5;
    position: absolute;
    background: #fff;
    border: 1px solid #161616;
    padding: 0 10px;
    color: #161616;
    text-align: center;
    font-weight: 500;
}

.popover {
    left: 55%;
    min-width: 100%;
}

.crete-file-popover {
    width: 200px;
}

.selected {
    border-radius: 5px;
    color: #161616;
    background-color: #03FD15;
    border: 1px solid #03FD15;
    padding: 5px 25px;
    margin: 7px;
}
